<div style="display: flex; background-color: RGB(255,114,0);" >
<h1 style="margin: auto; padding: 30px; ">ETUDE DE MARCHE LAPOULE - PREPARATION</h1>
</div>

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.1 - Importation des librairies</h3>
</div>

In [1]:
#Importation de la librairie Pandas
import pandas as pd
#Importation de la librairie datetime
from datetime import datetime, date
#Importation de la librairie numpy
import numpy as np

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.2 - Chargements des fichiers</h3>
</div>

In [2]:
#Importation du fichier Population_2000_2018.csv
df_population = pd.read_csv("Population_2000_2018.csv", sep = ',')
#Importation du fichier DisponibiliteAlimentaire_2017.csv
df_disponibilite_alimentaire = pd.read_csv("DisponibiliteAlimentaire_2017.csv", sep = ',')
#Importation du fichier FAOSTAT_data_fr_8-7-2024.csv
df_fao_data = pd.read_csv("FAOSTAT_data_fr_8-7-2024.csv", sep = ',')

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse exploratoire du fichier FAOSTAT_data_fr_8-7-2024.csv</h3>
</div>

In [3]:
df_fao_data.drop(['Code Domaine', 'Code Élément', 'Code Produit', 'Code année', 'Symbole', 'Description du Symbole'], axis=1, inplace=True)

In [4]:
df_fao_data.rename(columns={'Code zone (M49)':'Code zone'}, inplace=True)

In [5]:
df_fao_data = df_fao_data[df_fao_data['Année'] == 2017]

In [6]:
#Anomalie detectée dans la cellule 20 index 148 et corrigé a posteriori, donc plus visible dans l'output
df_fao_data['Zone'].replace("Pays-Bas (Royaume des)", "Pays-Bas", inplace=True)

In [7]:
df_fao_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 17 to 4002
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Domaine    211 non-null    object
 1   Code zone  211 non-null    int64
 2   Zone       211 non-null    object
 3   Élément    211 non-null    object
 4   Produit    211 non-null    object
 5   Année      211 non-null    int64
 6   Unité      211 non-null    object
 7   Valeur     211 non-null    float64
 8   Note       0 non-null      float64
dtypes: float64(2), int64(2), object(5)
memory usage: 16.5+ KB

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.2 - Analyse exploratoire du fichier DisponibiliteAlimentaire_2017.csv</h3>
</div>

In [8]:
print("Liste des produits uniques: \n{}".format(df_disponibilite_alimentaire['Produit'].unique()))

Liste des produits uniques:
['Blé et produits' 'Riz et produits' 'Orge et produits' 'Maïs et produits'
 'Seigle et produits' 'Avoine' 'Millet et produits' 'Sorgho et produits'
 'Céréales, Autres' 'Pommes de Terre et produits' 'Ignames' 'Racines nda'
 'Sucre, canne' 'Sucre, betterave' 'Sucre Eq Brut' 'Edulcorants Autres'
 'Miel' 'Haricots' 'Pois' 'Légumineuses Autres et produits'
 'Noix et produits' 'Soja' 'Arachides Decortiquees' 'Graines de tournesol'
 'Graines Colza/Moutarde' 'Graines de coton' 'Coco (Incl Coprah)' 'Sésame'
 'Olives' 'Plantes Oleiferes, Autre' 'Huile de Soja' "Huile d'Arachide"
 'Huile de Tournesol' 'Huile de Colza&Moutarde' 'Huile Graines de Coton'
 'Huile de Palmistes' 'Huile de Palme' 'Huile de Coco' 'Huile de Sésame'
 "Huile d'Olive" 'Huile de Son de Riz' 'Huile de Germe de Maïs'
 'Huil Plantes Oleif Autr' 'Tomates et produits' 'Oignons'
 'Légumes, Autres' 'Oranges, Mandarines' 'Citrons & Limes et produits'
 'Pamplemousse et produits' 'Agrumes, Autres' 'Bananes'
 'Pommes et produits' 'Ananas et produits' 'Dattes' 'Raisin'
 'Fruits, Autres' 'Café et produits' 'Feve de Cacao et produits' 'Thé'
 'Poivre' 'Piments' 'Girofles' 'Épices, Autres' 'Vin' 'Bière'
 'Boissons Fermentés' 'Boissons Alcooliques' 'Alcool, non Comestible'
 'Viande de Bovins' "Viande d'Ovins/Caprins" 'Viande de Suides'
 'Viande de Volailles' 'Viande, Autre' 'Abats Comestible' 'Beurre, Ghee'
 'Crème' 'Graisses Animales Crue' 'Oeufs' 'Lait - Excl Beurre'
 'Poissons Eau Douce' 'Aliments pour enfants' 'Miscellanees'
 'Manioc et produits' 'Patates douces' 'Palmistes' 'Bananes plantains'
 'Huiles de Poissons' 'Huiles de Foie de Poisso' 'Perciform'
 'Poissons Pelagiques' 'Poissons Marins, Autres' 'Crustacés'
 'Cephalopodes' 'Mollusques, Autres' 'Animaux Aquatiques Autre'
 'Plantes Aquatiques' 'Sucre non centrifugé' 'Viande de Anim Aquatiq']

In [9]:
df_disponibilite_alimentaire_unique = df_disponibilite_alimentaire.drop_duplicates(subset=['Code Élément', 'Élément', 'Code Produit', 'Produit'])
df_disponibilite_alimentaire_unique[['Code Élément', 'Élément', 'Code Produit', 'Produit']][df_disponibilite_alimentaire_unique['Produit'] == 'Viande de Volailles']

,Code Élément,Élément,Code Produit,Produit
651,5511,Production,2734,Viande de Volailles
652,5611,Importations - Quantité,2734,Viande de Volailles
653,5072,Variation de stock,2734,Viande de Volailles
654,5301,Disponibilité intérieure,2734,Viande de Volailles
655,5123,Pertes,2734,Viande de Volailles
656,5170,Résidus,2734,Viande de Volailles
657,5142,Nourriture,2734,Viande de Volailles
658,645,Disponibilité alimentaire en quantité (kg/pers...,2734,Viande de Volailles
659,664,Disponibilité alimentaire (Kcal/personne/jour),2734,Viande de Volailles
660,674,Disponibilité de protéines en quantité (g/pers...,2734,Viande de Volailles
661,684,Disponibilité de matière grasse en quantité (g...,2734,Viande de Volailles
1707,5911,Exportations - Quantité,2734,Viande de Volailles
1710,5171,Alimentation pour touristes,2734,Viande de Volailles
4878,5131,Traitement,2734,Viande de Volailles
6977,5154,Autres utilisations (non alimentaire),2734,Viande de Volailles
160384,5521,Aliments pour animaux,2734,Viande de Volailles
160385,5527,Semences,2734,Viande de Volailles

In [10]:
#Viande de Volailles avec Imports, Exports, Production et Disponibilité alimentaire
df_disponibilite_alimentaire = df_disponibilite_alimentaire[(df_disponibilite_alimentaire['Code Produit'] == 2734) &
(df_disponibilite_alimentaire['Code Élément'].isin([5511, 5611, 5911, 664]))]

In [11]:
df_disponibilite_alimentaire.drop(['Code Domaine', 'Code Élément', 'Code Produit', 'Code année', 'Symbole', 'Description du Symbole'], axis=1, inplace=True)

In [12]:
df_disponibilite_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 645 entries, 651 to 176398
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Domaine    645 non-null    object
 1   Code zone  645 non-null    int64
 2   Zone       645 non-null    object
 3   Élément    645 non-null    object
 4   Produit    645 non-null    object
 5   Année      645 non-null    int64
 6   Unité      645 non-null    object
 7   Valeur     645 non-null    float64
dtypes: float64(1), int64(2), object(5)
memory usage: 45.4+ KB

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.3 - Analyse exploratoire du fichier Population_2000_2018.csv</h3>
</div>

In [13]:
df_population.drop(['Code Domaine', 'Code Élément', 'Code Produit', 'Code année', 'Symbole', 'Description du Symbole', 'Note'], axis=1, inplace=True)

In [14]:
df_population = df_population[df_population['Année'] == 2017]

In [15]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 17 to 4409
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Domaine    236 non-null    object
 1   Code zone  236 non-null    int64
 2   Zone       236 non-null    object
 3   Élément    236 non-null    object
 4   Produit    236 non-null    object
 5   Année      236 non-null    int64
 6   Unité      236 non-null    object
 7   Valeur     236 non-null    float64
dtypes: float64(1), int64(2), object(5)
memory usage: 16.6+ KB

In [16]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

for i in [df_fao_data, df_disponibilite_alimentaire, df_population]:
    print("Nombre de lignes en doublons pour le dataframe {}: {}".format(get_df_name(i), len(i[i.duplicated()])))

Nombre de lignes en doublons pour le dataframe df_fao_data: 0
Nombre de lignes en doublons pour le dataframe df_disponibilite_alimentaire: 0
Nombre de lignes en doublons pour le dataframe df_population: 0

In [17]:
df_concat = pd.concat([df_fao_data, df_disponibilite_alimentaire, df_population])

In [18]:
df_final = df_concat.pivot_table(index='Zone', values='Valeur', columns=['Élément', 'Produit', 'Année']).reset_index()
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 7 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   (Zone, , )                                                                   238 non-null    object
 1   (Disponibilité alimentaire (Kcal/personne/jour), Viande de Volailles, 2017)  172 non-null    float64
 2   (Exportations - Quantité, Viande de Volailles, 2017)                         135 non-null    float64
 3   (Importations - Quantité, Viande de Volailles, 2017)                         170 non-null    float64
 4   (Population totale, Population-Estimations, 2017)                            236 non-null    float64
 5   (Production, Viande de Volailles, 2017)                                      168 non-null    float64
 6   (Valeur US $, aux prix du 2015, Produit Intérieur Brut, 2017)                211 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.1+ KB

In [19]:
df_final[(df_final[('Exportations - Quantité', 'Viande de Volailles', 2017)].isna()) &
(df_final[('Importations - Quantité', 'Viande de Volailles', 2017)].isna()) &
(df_final[('Production', 'Viande de Volailles', 2017)].isna()) &
(df_final[('Disponibilité alimentaire (Kcal/personne/jour)', 'Viande de Volailles', 2017)].isna())]

Élément,Zone,Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité,Importations - Quantité,Population totale,Production,"Valeur US $, aux prix du 2015"
Produit,,Viande de Volailles,Viande de Volailles,Viande de Volailles,Population-Estimations,Viande de Volailles,Produit Intérieur Brut
Année,,2017,2017,2017,2017,2017,2017
5,Andorre,NaN,NaN,NaN,77.001,NaN,2902.219066
7,Anguilla,NaN,NaN,NaN,14.584,NaN,301.095072
9,Antilles néerlandaises (ex),NaN,NaN,NaN,275.186,NaN,NaN
13,Aruba,NaN,NaN,NaN,105.366,NaN,3226.288490
18,Bahreïn,NaN,NaN,NaN,1494.076,NaN,33535.339273
...,...,...,...,...,...,...,...
232,Îles Marshall,NaN,NaN,NaN,58.058,NaN,193.053497
234,Îles Turques-et-Caïques,NaN,NaN,NaN,37.115,NaN,985.220508
235,Îles Vierges américaines,NaN,NaN,NaN,104.751,NaN,NaN
236,Îles Vierges britanniques,NaN,NaN,NaN,29.577,NaN,1340.654362
237,Îles Wallis-et-Futuna,NaN,NaN,NaN,11.900,NaN,NaN

In [20]:
df_final[(df_final[('Valeur US $, aux prix du 2015', 'Produit Intérieur Brut', 2017)].isna())]

Élément,Zone,Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité,Importations - Quantité,Population totale,Production,"Valeur US $, aux prix du 2015"
Produit,,Viande de Volailles,Viande de Volailles,Viande de Volailles,Population-Estimations,Viande de Volailles,Produit Intérieur Brut
Année,,2017,2017,2017,2017,2017,2017
9,Antilles néerlandaises (ex),NaN,NaN,NaN,275.186,NaN,NaN
26,"Bonaire, Saint-Eustache et Saba",NaN,NaN,NaN,25.401,NaN,NaN
44,"Chine, Taiwan Province de",126.0,8.0,161.0,23674.546,652.0,NaN
69,Gibraltar,NaN,NaN,NaN,33.728,NaN,NaN
73,Guadeloupe,NaN,NaN,NaN,399.672,NaN,NaN
74,Guam,NaN,NaN,NaN,164.281,NaN,NaN
80,Guyane française,NaN,NaN,NaN,275.191,NaN,NaN
117,Martinique,NaN,NaN,NaN,375.948,NaN,NaN
120,Mayotte,NaN,NaN,NaN,252.957,NaN,NaN
134,Nioué,NaN,NaN,NaN,1.609,NaN,NaN
168,Réunion,NaN,NaN,NaN,876.134,NaN,NaN
169,Sahara occidental,NaN,NaN,NaN,552.615,NaN,NaN
170,Saint-Barthélemy,NaN,NaN,NaN,9.784,NaN,NaN
173,Saint-Martin (partie française),NaN,NaN,NaN,36.560,NaN,NaN
174,Saint-Pierre-et-Miquelon,NaN,NaN,NaN,5.887,NaN,NaN
175,Saint-Siège,NaN,NaN,NaN,0.793,NaN,NaN
177,"Sainte-Hélène, Ascension et Tristan da Cunha",NaN,NaN,NaN,6.008,NaN,NaN
180,Samoa américaines,NaN,NaN,NaN,55.620,NaN,NaN
186,Sint Maarten (partie néerlandaise),NaN,NaN,NaN,41.444,NaN,NaN
204,Tokélaou,NaN,NaN,NaN,1.300,NaN,NaN
225,Île de Man,NaN,NaN,NaN,83.598,NaN,NaN
226,Îles Anglo-Normandes,NaN,NaN,NaN,168.665,NaN,NaN
229,Îles Falkland (Malvinas),NaN,NaN,NaN,3.068,NaN,NaN
230,Îles Féroé,NaN,NaN,NaN,48.331,NaN,NaN
231,Îles Mariannes du Nord,NaN,NaN,NaN,56.562,NaN,NaN
235,Îles Vierges américaines,NaN,NaN,NaN,104.751,NaN,NaN
237,Îles Wallis-et-Futuna,NaN,NaN,NaN,11.900,NaN,NaN

In [21]:
# Province de Taiwan est un élément important mais le PIB est introuvable dans le dataset de FAO
# On renseigne le PIB manuellement après des recherches sur le Web
df_final.loc[df_final['Zone'] == 'Chine, Taiwan Province de', [('Valeur US $, aux prix du 2015', 'Produit Intérieur Brut', 2017)]] = 590780

In [22]:
df_final[df_final['Zone'] == 'Chine, Taiwan Province de']

Élément,Zone,Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité,Importations - Quantité,Population totale,Production,"Valeur US $, aux prix du 2015"
Produit,,Viande de Volailles,Viande de Volailles,Viande de Volailles,Population-Estimations,Viande de Volailles,Produit Intérieur Brut
Année,,2017,2017,2017,2017,2017,2017
44,"Chine, Taiwan Province de",126.0,8.0,161.0,23674.546,652.0,590780.0

In [23]:
lst_pays_to_drop = np.array(df_final[(df_final[('Exportations - Quantité', 'Viande de Volailles', 2017)].isna()) &
(df_final[('Importations - Quantité', 'Viande de Volailles', 2017)].isna()) &
(df_final[('Production', 'Viande de Volailles', 2017)].isna()) &
(df_final[('Disponibilité alimentaire (Kcal/personne/jour)', 'Viande de Volailles', 2017)].isna())]['Zone'])
print("Liste des pays à supprimer car aucune donnée d'export/import et production de viande de volailles: \n{}".format(lst_pays_to_drop))

Liste des pays à supprimer car aucune donnée d'export/import et production de viande de volailles:
['Andorre' 'Anguilla' 'Antilles néerlandaises (ex)' 'Aruba' 'Bahreïn'
 'Bermudes' 'Bhoutan' 'Bonaire, Saint-Eustache et Saba'
 'Brunéi Darussalam' 'Burundi' 'Chine' 'Comores' 'Curaçao' 'Gibraltar'
 'Groenland' 'Guadeloupe' 'Guam' 'Guinée équatoriale' 'Guyane française'
 'Libye' 'Liechtenstein' 'Martinique' 'Mayotte'
 'Micronésie (États fédérés de)' 'Monaco' 'Montserrat' 'Nauru' 'Nioué'
 'Palaos' 'Palestine' 'Papouasie-Nouvelle-Guinée' 'Porto Rico' 'Qatar'
 'République arabe syrienne' 'République démocratique du Congo' 'Réunion'
 'Sahara occidental' 'Saint-Barthélemy' 'Saint-Marin'
 'Saint-Martin (partie française)' 'Saint-Pierre-et-Miquelon'
 'Saint-Siège' 'Sainte-Hélène, Ascension et Tristan da Cunha'
 'Samoa américaines' 'Seychelles' 'Singapour'
 'Sint Maarten  (partie néerlandaise)'
 'Sint Maarten (partie néerlandaise)' 'Somalie' 'Soudan du Sud' 'Tokélaou'
 'Tonga' 'Tuvalu' 'Érythrée' 'Île de Man' 'Îles Anglo-Normandes'
 'Îles Caïmanes' 'Îles Cook' 'Îles Falkland (Malvinas)' 'Îles Féroé'
 'Îles Mariannes du Nord' 'Îles Marshall' 'Îles Turques-et-Caïques'
 'Îles Vierges américaines' 'Îles Vierges britanniques'
 'Îles Wallis-et-Futuna']

In [24]:
lst_pays_to_drop = np.array(df_final[(df_final[('Exportations - Quantité', 'Viande de Volailles', 2017)].isna()) & (df_final[('Importations - Quantité', 'Viande de Volailles', 2017)].isna()) & (df_final[('Production', 'Viande de Volailles', 2017)].isna())]['Zone'])
df_datas_for_cah = df_final[~df_final['Zone'].isin(lst_pays_to_drop)]
population_millions = pd.DataFrame(df_datas_for_cah[('Population totale', 'Population-Estimations', 2017)] / 1000)
ppa = pd.DataFrame((df_datas_for_cah[('Valeur US $, aux prix du 2015', 'Produit Intérieur Brut', 2017)] / (df_datas_for_cah[('Population totale', 'Population-Estimations', 2017)] / 1000)))
population_millions.columns = pd.MultiIndex.from_tuples([('Population totale millions', 'Population-Estimations', 2017)])
ppa.columns = pd.MultiIndex.from_tuples([('Valeur US $, aux prix du 2015','Produit Intérieur Brut Par Habitant', 2017)])
df_merge = pd.merge(df_datas_for_cah, population_millions, left_index=True, right_index=True)
df_datas_for_cah = pd.merge(df_merge, ppa, left_index=True, right_index=True)
df_datas_for_cah.drop([('Valeur US $, aux prix du 2015','Produit Intérieur Brut', 2017), ('Population totale', 'Population-Estimations', 2017)], axis=1, inplace=True)

In [25]:
#On supprime les pays trop importants pour se focaliser sur un périmètre plus accessible et moins concurrentiel
lst_pays_excentrés = ("États-Unis d'Amérique", "Brésil", "Chine, continentale", "Inde")
df_datas_for_cah = df_datas_for_cah.replace([np.inf, -np.inf], np.nan).apply(lambda x: x.fillna(x.min()),axis=0).reset_index().sort_index(axis=1).drop(['index'], axis=1)
df_datas_for_cah.drop(df_datas_for_cah[df_datas_for_cah['Zone'].isin(lst_pays_excentrés)].index, inplace=True)
df_datas_for_cah.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 0 to 169
Data columns (total 7 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   (Disponibilité alimentaire (Kcal/personne/jour), Viande de Volailles, 2017)  166 non-null    float64
 1   (Exportations - Quantité, Viande de Volailles, 2017)                         166 non-null    float64
 2   (Importations - Quantité, Viande de Volailles, 2017)                         166 non-null    float64
 3   (Population totale millions, Population-Estimations, 2017)                   166 non-null    float64
 4   (Production, Viande de Volailles, 2017)                                      166 non-null    float64
 5   (Valeur US $, aux prix du 2015, Produit Intérieur Brut Par Habitant, 2017)   166 non-null    float64
 6   (Zone, , )                                                                   166 non-null    object
dtypes: float64(6), object(1)
memory usage: 10.4+ KB

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 3 - Exportation du dataset dans un fichier CSV</h2>
</div>

In [26]:
#Exportation du dataset df_datas_for_cah dans un fichier CSV
#Pour les étapes de clusterings et visualisations.  
df_datas_for_cah.to_csv('datas_lapoule.csv', index=None)